// 1. Your custom variables and variable overwrites.
$base-heading-font-weight: 200;

$form-horizontal-label-width: 100px;
$form-horizontal-controls-margin-left: 115px;

// 2. Import default variables and available mixins.
@import "../bower_components/uikit/src/scss/variables-theme.scss";
@import "../bower_components/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../bower_components/uikit/src/scss/uikit-theme.scss";
